body {
	background-color:  silver;}
	h1 {  font-family: futura;
	}
	h2 { font-family: futura;
	}
	h1 {
		 color: green; 
	}
	h2 {
		color: green;
	}
h1 {
	font-size: 45 pt;
}
h2 {
	 font-size: 45 pt;
}